
<input id="submit" type="submit" style="" value="Create New Cocktail!"><br>
Name: <input name="name" type="text" placeholder="Name of Cocktail"><br>
Description: <input name="description" type="text" placeholder="Enter "><br>
Ingredients: 

<input type="button" value="Add New Entry" onclick="add()">
<input type="button" value="Remove Last" onclick="remove()" style="background-color:rgba(255, 0, 0, 0.5);">
<div name="required" class="entry"></div>

<div class="options" style="display:none;">
    <option disabled selected hidden>Choose your ingredients</option>
    <% allIngredients.sort((a, b) => a.name.localeCompare(b.name)).forEach((el) => { %>
        <option _id="<%=el._id%>"><%=el.name%></option>
    <% }) %> 
</div>

<script>

    function removeFromList() {
        document.querySelectorAll('option').forEach((el) => {el.removeAttribute('disabled')})
        document.querySelectorAll('select').forEach((elS, iS) => {
            document.querySelectorAll('option').forEach((elO, iO) => {
                if (elO.value === elS.value) {
                    console.log("Here")
                    console.log(iS)
                    console.log(iO)
                    //if (iS != iO) {elO.setAttribute('disabled', 'disabled')}
                }
                
            })
        })
        check()
    }

    function check(id) {
        createVis = true;
        document.querySelectorAll('input').forEach((el) => {
            //console.log(el)
        })
        document.querySelectorAll('input').forEach((el) => {
            //console.log(el)
        })
    }
    
    function add() {
        newId = (document.querySelector('.entry').querySelectorAll('select').length)
        const newInput1 = document.createElement('select');
        newInput1.name = 'name';
        newInput1.id = newId;
        newInput1.style.background = 'black';
        const newInput2 = document.createElement('input');
        newInput2.name = "amount";
        newInput2.type = 'text';
        newInput2.placeholder = 'Enter Amount'
        var clone = document.querySelectorAll('.options option');

        document.querySelector('.entry').appendChild(newInput1)
        for (var i = 0; i < clone.length; i++) {
            document.getElementById(newId).appendChild(clone[i].cloneNode(true))
        }
        document.querySelector('.entry').appendChild(newInput2)
        document.querySelector('.entry').appendChild(document.createElement('br'));

        document.getElementById(newId).addEventListener("change", function(event) {
            removeFromList();
        })
    }
    function remove() {
        if(document.querySelector('.entry').childElementCount > 3) {
            document.querySelector('.entry').removeChild(document.querySelector('.entry').lastElementChild)
            document.querySelector('.entry').removeChild(document.querySelector('.entry').lastElementChild)
            document.querySelector('.entry').removeChild(document.querySelector('.entry').lastElementChild)
        }
    }

    if (document.getElementById(0) == null) {
        add()
    }

    document.querySelector('input[name]').addEventListener('change', check())


</script>